.button {
    -fx-opacity: 1.0; /* Set normal opacity */
    -fx-transition: opacity 0.2s ease; /* Smooth transition */
}

/* Hover effect - reduce opacity when mouse enters */
.button:hover {
    -fx-opacity: 0.5; /* Lower opacity to 50% on hover */
}

.table-row-cell:selected {
    -fx-background-color:  #DD4132FF; /* Light red color */
    -fx-text-fill: black;          /* Text color */
}

.table-cell:selected {
    -fx-background-color:  #DD4132FF; /* Light red color */
    -fx-text-fill: black;
}

:focused {
    -fx-focus-color: red;
    -fx-faint-focus-color: rgba(255, 0, 0, 0.2); /* Slightly transparent red for faint focus */
}